<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>house_party_loyalty</title>
</head>

<body>

    <div class="container" id="app">
        <figure class="figure">
            <img src="img/foto.png" id="imagen1" class="figure-img img-fluid rounded" alt="goverment">

        </figure>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="home.html">Home <span class="sr-only">(current)</span></a>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Congress 113
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="house-data.html">House</a>


                            <a class="dropdown-item" href="senate-data.html">Senate</a>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Attendance
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="house-attendance-starter-page.html">House</a>


                            <a class="dropdown-item" href="senate-attendance-starter-page.html">Senate</a>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Party Loyalty
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="house-party-loyalty-starter-page.html">House</a>


                            <a class="dropdown-item" href="senate-party-loyalty-starter-page.html">Senate</a>


                        </div>
                    </li>

                </ul>
                <a href="mailto:info@tgif.net">📪📩info@tgif.net</a>
            </div>
        </nav>
        <!--Table container-->

        <div class="row">
            <div class="col-8">
                <h2>Party Loyalty</h2>
                <p>Those who consider themselves to be strong partisans, strong Democrats and strong Republicans
                    respectively,
                    tend to be the most faithful in voting for their party's nominee for office and legislation that
                    backs
                    their
                    party's agenda. </p>
            </div>
            <div class="col-4">
                <h2>Senate at a glance</h2>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th cope="col"> Party </th>
                            <th cope="col"> Nº of Reps </th>
                            <th cope="col"> % Voted w/ Party</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Democrats
                            </td>
                            <td id="numeroDemocratas">{{statistics.democrat.length}}</td>
                            <td id="votosDemocratas">{{statistics.votesDemocrats}}</td>
                        </tr>
                        <tr>
                            <td>
                                Republicans
                            </td>
                            <td id="numeroRepublicanos">{{statistics.republican.length}}</td>
                            <td id="votosRepublicanos">{{statistics.votesRepublicans}}</td>

                        </tr>
                        <tr>
                            <td>
                                Independents
                            </td>
                            <td id="numeroIndependientes">{{statistics.independent.length}}</td>
                            <td id="votosIndependientes">{{statistics.votesIndependents}}</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td id="total">
                                {{statistics.democrat.length+statistics.republican.length+statistics.independent.length}}
                            </td>
                            <td id="totalDos">
                                {{(statistics.votesDemocrats+statistics.votesRepublicans+statistics.votesIndependents) / 2}}
                            </td>
                        </tr>

                    </tbody>

                </table>

            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h2>Most Loyal (top 10% of party)</h2>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th cope="col"> Name </th>
                            <th cope="col"> Nº Party Votes </th>
                            <th cope="col"> % Party Votes</th>

                        </tr>
                    </thead>
                    <tbody id="tablaMost">
                        <tr v-for="value in statistics.mostLoyal">
                            <td><a v-bind:href="value.url"> {{value.first_name}} {{value.middle_name}}
                                    {{value.last_name}}</a></td>
                            <td>{{value.total_votes}}</td>
                            <td>{{value.votes_against_party_pct}}</td>
                        </tr>
                    </tbody>

                </table>
            </div>
            <div class="col-6">
                <h2>Least Loyal (top 10% of party)</h2>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th cope="col"> Name </th>
                            <th cope="col"> Nº Party Votes </th>
                            <th cope="col"> % Party Votes</th>
                        </tr>
                    </thead>
                    <tbody id="tablaLeast">
                        <tr v-for="value in statistics.leastLoyal">
                            <td><a v-bind:href="value.url"> {{value.first_name}} {{value.middle_name}}
                                    {{value.last_name}}</a></td>
                            <td>{{value.total_votes}}</td>
                            <td>{{value.votes_against_party_pct}}</td>
                        </tr>

                    </tbody>

                </table>
            </div>
        </div>

        <div class="card text-center">

            <div class="card-body">

                <a href="#" class="btn btn-primary">Go Up</a>
            </div>
            <div class="card-footer text-muted">
                ©2020 | All Rights Reserved
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!-- <script src="javascript/pro-congress-113-house.js"></script> -->

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="scripts/house-attendance-statistics.js"></script>


</body>

</html>