<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>senate_data</title>
</head>

<body>
    <div class="container" id="app">
        <figure class="figure">
            <img src="img/foto.png" id="imagen1" class="figure-img img-fluid rounded" alt="goverment">
        </figure>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="home.html">Home <span class="sr-only">(current)</span></a>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Congress 113
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="house-data.html">House</a>
                            <a class="dropdown-item" href="senate-data.html">Senate</a>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Attendance
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="house-attendance-starter-page.html">House</a>
                            <a class="dropdown-item" href="senate-attendance-starter-page.html">Senate</a>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Party Loyalty
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="house-party-loyalty-starter-page.html">House</a>
                            <a class="dropdown-item" href="senate-party-loyalty-starter-page.html">Senate</a>
                        </div>
                    </li>

                </ul>
                <a href="mailto:info@tgif.net">📪📩info@tgif.net</a>
            </div>
        </nav>

        <h3>Senators</h3>
        <p>First convened in 1789, the composition and powers of the Senate are established in Article One of
            the U.S.
            Constitution. Each state is represented by two senators, regardless of population, who serve
            staggered six-year
            terms. The Senate has several exclusive powers not granted to the House, including consenting to
            treaties as a
            precondition to their ratification and consenting to or confirming appointments of Cabinet
            secretaries, federal
            judges, other federal executive officials, military officers, regulatory officials, ambassadors, and
            other
            federal uniformed officers, as well as trial of federal officials impeached by the House.</p>


        <div class="d-flex justify-content-center">
            <h4>Filter By Party:</h4>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="R" v-on:click="loadMembers"
                    name="party" checked>
                <label class="form-check-label" for="inlineCheckbox1">Republican</label>
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="D" v-on:click="loadMembers"
                    name="party" checked>
                <label class="form-check-label" for="inlineCheckbox2">Democrat</label>
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="I" v-on:click="loadMembers"
                    name="party" checked>
                <label class="form-check-label" for="inlineCheckbox3">Independent</label>
            </div>

            <div class="form-check form-check-inline">
                <h4>Filter By State:</h4>
                <select id="state" v-on:change="loadMembers">
                    <option value="All">All</option>
                    <option v-bind:value="state" v-for="state in estados">{{state}}</option>
                </select>
            </div>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th cope="col"> Name </th>
                    <th cope="col"> Party </th>
                    <th cope="col"> State </th>
                    <th cope="col"> Seniority </th>
                    <th cope="col"> Votes W/ Party </th>
                </tr>
            </thead>
            <tbody id="senate-data">
                <tr v-for="value in members">
                    <td><a v-bind:href="value.url"> {{value.first_name}} {{value.middle_name}} {{value.last_name}}</a>
                    </td>
                    <td>{{value.party}}</td>
                    <td>{{value.state}}</td>
                    <td>{{value.seniority}}</td>
                    <td>{{value.votes_with_party_pct+"%"}}</td>
                </tr>
            </tbody>

        </table>

        <div class="card text-center">

            <div class="card-body">
                <a href="#" class="btn btn-primary">Go Up</a>
            </div>
            <div class="card-footer text-muted">
                ©2020 | All Rights Reserved
            </div>
        </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!-- <script src="javascript/pro-congress-113-senate.js"></script> -->

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="scripts/senate-data.js"></script>


</body>

</html>